@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ 
var site = Model.Root();
var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); 
}


    <div class="navbar-background">
      <div class="navbar-container">
        <div class="navbar-left">
          <h1 class="logo">
             @site.Value("companyName")
          </h1>
        </div>
        <nav class="nav-items">
            <li class="nav-items"><a class="nav-links @(Model.Id == site.Id ? "active" : null)" href="@site.Url()">@site.Name</a></li>
@if (selection?.Length > 0)
{
    <ul>
        @foreach (var item in selection)
        {
            <li class=" nav-links"> <a class="nav-links @(item.IsAncestorOrSelf(Model) ? "current" : null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a></li>
        }
    </ul>
}
        </nav>
        <div class="navbar-right">
          <div class="shop-icon-circle">
            <iconify-icon icon="clarity:shopping-bag-line"></iconify-icon>
          </div>
        </div>
      </div>
    </div>

