@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
    ViewData["Title"] = @Model.Value("homeTitle");
	Layout = "_Layout.cshtml";
}

 <!-- Showcase One -->
@await Html.PartialAsync("ShowcaseOne")



    <section class="featured-product-container">
      <h1 class="feature-product-title">Featured Dresses</h1>
        <div class="feature-product-cards-container">
                    @{
                   var selection = Umbraco.Content(Guid.Parse("977a488b-1dc4-44fb-bfcd-9df0c0a9cfa5"))
                        .Children()
                        .Where(x => x.IsVisible())
                        .OrderByDescending(x => x.CreateDate);
                    }
                    
                    
                    @foreach( var item in selection) {
                  
                    <div class="feature-card-container">
                        <div>
                            <div class="feature-card-img-container">
                                  @{
                                    IPublishedContent  productImage = item.Value<IPublishedContent>("productImageThumbnail");
                                   }
                                <img class="img" src="@productImage.Url()" />
                                <button class="std-button-one quick-view">@item.Value("productButtonText")</button>
                                <div class="card-icons"> </div>
                            </div>
                            <div class="feature-card-text-container">
                                <p class="category-name">@item.Value("productCategory")</p>
                                <h2 class="product-name">@item.Value("productName")</h2>
                                <div class="display-prices">
                                <h3 class="display-price">$@item.Value("productPrice").00</h3>
                            </div>
                        </div>
                    </div>
            </div>
            }
        </div>
    </section>
    
    
    
    
    
    
    
 
   